body {

    background-image: url(./assets/img/pizza-background.jpg);
}

#header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
}

#logo {
    margin-left: 840px;
    width: 10%;
    height: 10%;
}

form {

    background: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#resultado {

    background: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}